@charet "UTF-8";
/* CSS Documet */

html{
    background-color:#f2f2f2;
    line-height: 1.4rem;
}

body{
    font-family: sans-serif;
    font-size: 0.9rem;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    margin: 7px 10%;   
}

img{
    max-width: 100%;
}

h1{
    color:#a71240;
    padding-left: 1rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d0d0d0;
}

h2{
    color: #a71240;
    margin: 1rem;
    font-size: 1rem;
}

p{
    padding: 0.5rem 1rem;
}

dt{
    padding: 1rem;
}

figcaption{
    background-color: #f7f7f7;
    padding: 1rem;
    max-width: 100%;
    margin: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-size: 0.85rem;   
}

blockquote{
    background-color: #f7f7f7;
    max-width: 100%;
    margin: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-family: serif; 
}  

.cita{
   text-align: right;
   margin-top: -3rem
}

.nutrition{
    padding-bottom: 7rem;
    background-color: #f7f7f7;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

dt{
    padding: 0;
    padding-left: 1rem;
    float: left;
    width: 40%; 
    overflow: hidden;
}

dd{
    float: right;
    width: 40%;
    overflow: auto;   
}

.tags{
    display: none;    
}

ul{
 list-style-type: none; 
 padding: 1rem;
}

ul li{
    background: rgba(167, 18, 64, 0.25); 
    color: #a71240;
    border: 1px solid #a71240;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0.25em 0.5em;
    display: inline-block;
    margin-bottom: 0.3rem;
}

footer{
    padding: 0rem 1rem 1rem;
    color: #9d9d9d;
    font-size: 0.8rem;
}

a,
a:link {
  color: #a71240;
  text-decoration: none;
  border-bottom: 1px solid #a71240;
  transition: all 200ms linear;
}

