@charet "UTF-8";
/* CSS Documet */

html{
    background-color:#f2f2f2;
    line-height: 1.4rem;
}

body{
    font-family: sans-serif;
    font-size: 0.9rem;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    margin: 7px 10%;   
}

img{
    max-width: 100%;
}

h1{
    color:#a71240;
    padding-left: 1rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d0d0d0;
}

h2{
    color: #a71240;
    margin: 1rem;
    font-size: 1rem;
}

p{
    padding: 0.5rem 1rem;
}

dt{
    padding: 1rem;
}

figcaption{
    background-color: #f7f7f7;
    padding: 1rem;
    max-width: 100%;
    margin: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-size: 0.85rem;   
}

blockquote{
    background-color: #f7f7f7;
    max-width: 100%;
    margin: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-family: serif; 
}  

.cita{
   text-align: right;
   margin-top: -3rem
}

.nutrition{
    padding: 0.5rem;
    background-color: #f7f7f7;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

footer{
    padding: 1rem;
    color: #9d9d9d;
}
